<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>PollitoMassacreSite</title>
    <%= csrf_meta_tags %>
	
	<%= render 'application/favicon' %>

 	<!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="navbar-fixed main-nav">
      <nav>
        <div class="nav-wrapper">
          
            
        </div> <!-- nav-wrapper -->
      </nav>
    </div> <!-- navbar-fixed main-nav -->
	
	<div class="section scrollspy" id="top-section"> 
    	<div class="hero">

        <img id="title" class="responsive-img" src="assets/pollito_text.png">
        <img id="title" class="responsive-img" src="assets/massacre_text.png">

    	</div> <!-- hero -->
    </div> <!-- top-section -->


    <%= yield %>

    <footer class="page-footer">
            <div class="footer-copyright">
            <div class="container">
            
            <p class="center"> <i> No </i> &#128035; &#128037; &#128037;<i>  were hurt in the making of this game.</i> </p>
            </div>
          </div>      
    </footer>

  </body>
</html>
